doctype html
html(lang='en')
	head
		title PhyPro
		link(href='node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='assets/style.css', rel="stylesheet", type='text/css')

	body
		script(src='public/app.js')
		.splash
			.container.logo
				img(src='assets/images/PhyProLogo.png', class="img-fluid mx-auto d-block")
			.container
				.row
					label.btn.btn-primary.splash.mx-auto(id="fileFormLabel", for="jsonUpload") Upload PhyPro Data
						input(type='file', id='jsonUpload', style='display: none', onChange='loadConfig(this)')
					button.btn-primary.btn.splash.mx-auto(onClick='loadConfig()') Load demo
		.main
			#header
				img(src='assets/PhyProHeader-03.png')
			.controls(data-spy="affix", data-offset-top=70, display)
				.btn-group#main-tools
				.btn-group#main-controls
			.application
				#profile
		script.
			loadConfig()
