body {
    background: black
}

input {
    background-color: black;
    color: white;
}

.main {
    display: none;
}

.splash button {
    display: block
}

.logo img {
    padding: 10vw;
    padding-bottom: 50px;
}

.btn-primary {
    background-color: #8934FF;
    border-color: #8934FF;
}

#header img {
    height: 60px;
}

.application {
    padding-top: 100px;
}

.control {
    background-color: #000000;
}

.link {
    fill: none;
    stroke: #999;
    stroke-opacity: 0.1
  }

